<div class="container">
  <div class="row">
    <div class="col-12-col-md-6 offset-md-3">
      <h1>Create a video</h1>
      <%= simple_form_for(@video) do |f| %>
      <%= f.input :name %>
      <%= f.submit value: 'Create' %>
      <% end %>
    </div>
  </div>
</div>
