<h1>Videos</h1>

<ul>
  <% unless @videos.nil? %>
    <% @videos.each do |video| %>
      <li>
        <%= link_to video_path(video.url) do %>
          <%= cl_image_tag video.miniature, height: 300, width: 400, crop: :fill %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
